<!doctype html>
<html lang="en">

    <%- include('header'); -%>

    <h2 class="title">QUIPLASH</h2>

    <div id="game">
        <div v-if="connected" >
            <%- include('homescreen'); -%>
        </div>
        <div v-else-if="gameState.state == 0">
            <%- include('lobby') -%>
        </div>
        <div v-else-if="gameState.state == 1 ">
            <%- include('submitPrompt') -%>
        </div>
        <div v-else-if="gameState.state == 2 ">
            <%- include('answerPrompt') -%>
        </div>
        <div v-else-if="gameState.state == 3 ">
            <%- include('revealAnswers') -%>
        </div>
        <div v-else-if="gameState.state == 4 ">
            <%- include('scoreboard') -%>
        </div>
    
    </div>

    <%- include('footer'); -%>

</html>
